/* Personal css stylesheet */


/**      -    -    -     FONT     -    -    -     **/
@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/**      -    -    -     HEADER     -    -    -     **/

#headerwrapper
{
    overflow: hidden;
    padding: 5em 0em 0em 0em;
    background: #FFC000 ;
    text-align: center;

    -moz-box-shadow: 0px 0px 15px -5px #454545;
    -webkit-box-shadow: 0px 0px 15px -5px #454545;
    -o-box-shadow: 0px 0px 15px -5px #454545;
    box-shadow: 0px 0px 15px -5px #454545;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#454545, Direction=NaN, Strength=15);
    -moz-border-radius: 0 0 40px 40px;
    -webkit-border-radius: 0 0 40px 40px;
    border-radius: 0 0 40px 40px;

}

#header
{
    margin-bottom:20pt;
    padding-bottom:10pt;
    border-bottom: 1px solid #2A2A2A;
}

#header h1
{
    font-size: 3em;
    color: #000000;
}


#header h2
{
    font-size: 1.4em;
    color: #1f2023;
}

#headerlogo{
    width: 10%;
    height: 10%;
}

/**      -    -    -     CONTAINER     -    -    -     **/

.container
{
    margin: 0px auto;
    width: 1100px;
}

/**      -    -    -     EPIC     -    -    -     **/

#epicwrapper{
    display: block;
    border-bottom: 1px solid #f3f2ed;
}

#epicbuttonswrapper{
    display: inline-block;
    float:right
}

#selectepic{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;

    width: 200px;
    height: 34px;
    overflow: hidden;
    background: url(image/down_arrow_select.jpg) no-repeat right #ddd;

    border: 1px solid #CEC3A0 ;
    border-radius: 5px;

    display: inline-block;
    float:none;

    margin-bottom: 15pt;
}


#selectepic select {
    background: transparent;

    width: 215px;
    padding: 3px;
    font-size: 22px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    text-align: center;
}





/**      -    -    -     USER STORY     -    -    -     **/

#listuserstory li{

    text-decoration: none;

    margin-top: 10pt;

    font-weight: 400;
    font-size: 20pt;

    background: #f5f5f5;

    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;


    padding: 5px 0 5px 15px;
    box-shadow:1px 1px 3px #999;
}

#listuserstory li button{
    vertical-align: middle;
    margin-left: 50px;
}

#userstorywrapper
{
    margin-top:15pt;
}


/**      -    -    -     BUTTONS     -    -    -     **/

.addbutton {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent url(image/addbutton4.png) no-repeat;
    background-size: contain;
}

.deletebutton {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent url(image/deletebutton2.png) no-repeat;
    background-size: contain;
}

.editbutton {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent url(image/editbutton.png) no-repeat;
    background-size: contain;
}

/**      -    -    -     User Story DETAILS TABLE     -    -    -     **/

#userstory-details-table{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border-bottom: 1px solid #f3f2ed;
    padding-bottom: 15pt;
}


#userstory-details-table td {
    padding-left: auto;
    padding-right: auto;

}

/**      -    -    -     TASKS     -    -    -     **/

#taskwrapper{
    margin-top: 15pt;

}


#tasktitlewrapper {
    margin-bottom:10pt;
    text-align: center;
}


#tasktitlewrapper h2{
    display: inline-block;
}

#tasktitlewrapper button{
    display: inline-block;
    vertical-align: middle;
    float:right;
}



#tasklist li{
    padding: 10pt ;
    margin-bottom: 15pt;
    border-radius: 5px;
    border-bottom: 1px solid #DEDEDE ;
    border-top: 1px solid #DEDEDE ;

    -moz-box-shadow: inset 0px -9px 15px -5px #EfEfEf;
    -webkit-box-shadow: inset 0px -9px 15px -5px #EfEfEf;
    -o-box-shadow: inset 0px -9px 15px -5px #EfEfEf;
    box-shadow: inset 0px -9px 15px -5px #EfEfEf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#EfEfEf, Direction=90, Strength=15);
}

#tasklist h3{
    display: inline-block;
    margin-right: 10pt;
    color: #555555;
    vertical-align: top;
}

#tasklist span{
    text-align: justify;
    display: inline-block;
    margin-left: 10pt;
    margin-right: 10pt;
    width: 480px;
}

#tasklist button{
    vertical-align: top;
    text-align: right;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#contentwrapper {

    height: 100%;

    display: block;
    background: #FFFFFF;
    padding: 5px;
    margin-top: 30pt;
    margin-bottom: 50pt;

    -moz-box-shadow: 0px 0px 15px 0px #cfcfcf;
    -webkit-box-shadow: 0px 0px 15px 0px #cfcfcf;
    -o-box-shadow: 0px 0px 15px 0px #cfcfcf;
    box-shadow: 0px 0px 15px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=15);
}

#leftcolumn {
    display: inline-block;
    float:none;
    border-right: #f3f2ed 1px solid;
    width: 310px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;


}

#leftcolumn h2{
    letter-spacing: -2px;
    text-transform: uppercase;

    margin-bottom: 10%;
    text-align: center;
}

#main-content{
    display: inline-block;
    float: right;

    width: 720px;
    padding-left: 10px;
    padding-right: 10px;
}

/**/

html, body
{
    height: 100%;
}

body
{
    margin: 0px;
    padding: 0px;
    background: #f3f2ed;
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    font-weight: 400;
    color: #555555;
}

h1, h2, h3
{
    margin: 0;
    padding: 0;
    color: #2A2A2A;
}

h1 {
    font-weight: bold;
}

h2{
    font-weight: 900;
    font-size: 2em;
}

h3{
    font-weight: 800;
    font-size: 1.5em;
}

p, ol, ul
{
    margin-top: 0;
}

ol, ul
{
    padding: 0;
    list-style: none;
}

p
{
    line-height: 180%;
}

strong
{

}

a
{
    color: #2C383B;
}

a:hover
{
    text-decoration: none;
}