
<div>
    <h2><span translate="tp1App.tODOItem.detail.title">TODOItem</span> {{tODOItem.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="tp1App.tODOItem.content">Content</span>
                </td>
                <td>
                    <span class="form-control-static">{{tODOItem.content}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="tp1App.tODOItem.endDate">EndDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{tODOItem.endDate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="tp1App.tODOItem.done">Done</span>
                </td>
                <td>
                    <span class="form-control-static">{{tODOItem.done}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
