<div>
    <h2 translate="tp1App.tODOItem.home.title">TODOItems</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="tODOItem.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="tp1App.tODOItem.home.createLabel">Create a new TODOItem</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTODOItemConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(tODOItem.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="tp1App.tODOItem.delete.question" translate-values="{id: '{{tODOItem.id}}'}">Are you sure you want to delete this TODOItem?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="tp1App.tODOItem.content">Content</th>
                    <th translate="tp1App.tODOItem.endDate">EndDate</th>
                    <th translate="tp1App.tODOItem.done">Done</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tODOItem in tODOItems">
                    <td><a ui-sref="tODOItem.detail({id:tODOItem.id})">{{tODOItem.id}}</a></td>
                    <td>{{tODOItem.content}}</td>
                    <td>{{tODOItem.endDate}}</td>
                    <td>{{tODOItem.done}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="tODOItem.detail({id:tODOItem.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="tODOItem.edit({id:tODOItem.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(tODOItem.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
