
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTODOItemLabel" translate="tp1App.tODOItem.home.createOrEditLabel">Create or edit a TODOItem</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="tODOItem.id" readonly>
        </div>
        <div class="form-group">
            <label translate="tp1App.tODOItem.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="tODOItem.content"
                    >
        </div>
        <div class="form-group">
            <label translate="tp1App.tODOItem.endDate" for="field_endDate">EndDate</label>
            <input type="date" class="form-control" name="endDate" id="field_endDate"
                    ng-model="tODOItem.endDate"
                    >
        </div>
        <div class="form-group">
            <label translate="tp1App.tODOItem.done" for="field_done">Done</label>
            <input type="checkbox" class="form-control" name="done" id="field_done"
                    ng-model="tODOItem.done"
                    >
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
