<div>
    <h2 translate="tp1App.todoItem.home.title">TodoItems</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="todoItem.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="tp1App.todoItem.home.createLabel">Create a new TodoItem</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTodoItemConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(todoItem.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="tp1App.todoItem.delete.question" translate-values="{id: '{{todoItem.id}}'}">Are you sure you want to delete this TodoItem?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="tp1App.todoItem.content">Content</th>
                    <th translate="tp1App.todoItem.endDate">EndDate</th>
                    <th translate="tp1App.todoItem.done">Done</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="todoItem in todoItems">
                    <td><a ui-sref="todoItem.detail({id:todoItem.id})">{{todoItem.id}}</a></td>
                    <td>{{todoItem.content}}</td>
                    <td>{{todoItem.endDate}}</td>
                    <td>{{todoItem.done}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="todoItem.detail({id:todoItem.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="todoItem.edit({id:todoItem.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(todoItem.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
