
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTodoItemLabel" translate="tp1App.todoItem.home.createOrEditLabel">Create or edit a TodoItem</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="todoItem.id" readonly>
        </div>
        <div class="form-group">
            <label translate="tp1App.todoItem.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="todoItem.content"
                    >
        </div>
        <div class="form-group">
            <label translate="tp1App.todoItem.endDate" for="field_endDate">EndDate</label>
            <input type="datetime-local" class="form-control" name="endDate" id="field_endDate"
                    ng-model="todoItem.endDate" ng-model-options="{timezone: 'UTC'}"
                    >
        </div>
        <div class="form-group">
            <label translate="tp1App.todoItem.done" for="field_done">Done</label>
            <input type="checkbox" class="form-control" name="done" id="field_done"
                    ng-model="todoItem.done"
                    >
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
