<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/app/bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="/app/bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="/app/style/app.css">
    <link rel="stylesheet" href="/app/style/mystyle.css">
    <script src="/app/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
    <div id="headerwrapper">
        <div id="header" class="container">
            <h1> AngularJS Client</h1>
            <img id="headerlogo" src="/app/style/image/angularjslogo.png">
            <h2>by M&oacute;nica Fern&aacute;ndez and Micka&euml;l Callimoutou</h2>

        </div>
    </div>

    <div ng-view></div>

    <!--
    <div>Angular seed app: v<span app-version></span></div>
    -->

    <div id="contentwrapper" class="container"  ng-controller="UserStoryController as ctrl">
        <div id="leftcolumn">
            <h2>Epic</h2>
            <div id="epicwrapper">
                <form id="selectepic">
                    <select name="epicSelect" type="text" id="epicSelected" ng-init="ctrl.getAllEpic()" ng-model="epicSelectedID" ng-change="ctrl.getUserStoriesByEpic()" >
                        <option ng-repeat="epic in epics" value="{{epic.id}}">{{epic.name}}</option>
                    </select>
                </form>
                <div id="epicbuttonswrapper">
                    <button id="addEpic" class="addbutton" ng-click="ctrl.addEpicView()" ></button>
                    <button id="deleteEpic" class="deletebutton" ng-click="ctrl.deleteEpic()"></button>
                </div>
                <div>
                    L'id sélectionné est : {{epicSelectedID}}
                </div>

                <div id="newepicwrapper" style="display: none">
                    <form name="newEpicForm">
                        <label>
                            Epic Name:
                            <input type="text" name="epicName" ng-model="newEpic.name" />
                        </label>
                        <label> Epic Description:
                            <textarea ng-model="newEpic.descr" ></textarea>
                        </label>
                        <button id="sendNewEpic" ng-click="ctrl.addNewEpic()" value="OK">OK</button>
                    </form>
                </div>
            </div>

            <h2>User Story</h2>
            <div id="userstorywrapper">
                <form id="selectuserstory">
                    <select name="userstorySelect" type="text" id="userstorySelected" ng-init="ctrl.getAllUserStory()" ng-model="userStoryidSelected" ng-change="ctrl.selectUserStory()" >
                        <option ng-repeat="us in userstories" value="{{us.id}}">{{us.name}}</option>
                    </select>
                </form>
                <div id="userstorybuttonswrapper">
                    <button id="addUserStory" class="addbutton" ng-click="ctrl.addUserStoryView()" ></button>
                    <button id="deleteUserStory" class="deletebutton" ng-click="ctrl.deleteUserStory()"></button>
                </div>
                <div>
                    L'id sélectionné est : {{userStoryidSelected}}
                </div>
                <div id="newuserstorywrapper" style="display: none" >
                    <form name="newUserStoryForm">
                        <label>
                            User Story Name:
                            <input type="text" name="usName" ng-model="newUS.name" />
                        </label>
                        <br>
                        <label> Description:
                            <textarea ng-model="newUS.descr"></textarea>
                        </label>
                        <br>
                        <label> StakeHolder Name:
                            <input type="text" ng-model="newUS.stakeholder"/>
                        </label>
                        <button id="sendNewUserStory" ng-click="ctrl.addUserStory()" value="OK">OK</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="main-content">
            <table id="userstory-details-table">
                <tr>
                    <td><h2>Theme</h2></td>
                    <td><h2>StakeHolder</h2></td>
                </tr>
                <tr ng-model="userStorySelected">
                    <td>{{userStorySelected.name}}</td>
                    <td>{{userStorySelected.stakeHolder.name}}</td>
                </tr>
            </table>

            <div id="taskwrapper">
                <div id="tasktitlewrapper">
                    <h2>Tasks</h2>
                    <button class="addbutton" id="AddTaskButton" ng-click="ctrl.addTaskView()"></button>
                </div>

                <ul id="tasklist">
                    <li ng-repeat="t in tasks" ng-class=" $index == selectedIndex ? '' :  'showData' ">
                        <h3>
                            <label>Task Name:</label>
                            <input type="text" name="taskName" value={{t.name}} disabled ng-model="t.name" />
                        </h3>
                        <span>
                            <label>Task Description:</label>
                            <input type="text" name="taskDesc" value={{t.description}} disabled  ng-model="t.description" />
                        </span>
                        <button  ng-class=" $index == selectedIndex ? '' :  'updatebutton' " id="sendUpdateTask" ng-click="ctrl.updateTask(t)" value="OK">OK</button>
                        <button  ng-class=" $index == selectedIndex ? 'hideEditbutton' :  'editbutton' " id="editTask"  ng-click="ctrl.editTask($index)"></button>
                        <button class="deletebutton" id="deleteTask"  ng-click="ctrl.deleteTask(t.id)"></button>
                    </li>

                 <!--   <li ng-repeat="t in tasks" >
                        <h3>{{t.name}}</h3>
                        <span> {{t.description}}</span>
                        <button class="editbutton" ng-click="ctrl.editTask($index,t)"></button>
                        <button class="deletebutton" ng-click="ctrl.deleteTask(t.id)"></button>
                    </li>-->
                 <!--
                 <div id="newuserstorywrapper" style="display: none" >
                    <form name="newUserStoryForm">
                        <label>
                            User Story Name:
                            <input type="text" name="usName" ng-model="newUS.name" />
                        </label>
                        <br>
                        <label> Description:
                            <textarea ng-model="newUS.descr"></textarea>
                        </label>
                        <br>
                        <label> StakeHolder Name:
                            <textarea ng-model="newUS.stakeholder"></textarea>
                        </label>
                        <button id="sendNewUserStory" ng-click="ctrl.addUserStory()" value="OK">OK</button>
                    </form>
                </div>
                 -->
                    <li id="newutaskwrapper" style="display: none" >
                        <h3>
                            <label>
                                Task Name:
                                <input type="text" name="usName" ng-model="newTask.name" />
                            </label>
                        </h3>
                        <span>
                            <label>
                                Task Description:
                                <input type="text" name="usName" ng-model="newTask.descr" />
                            </label>
                        </span>
                        <button id="sendNewTask" ng-click="ctrl.addTask()" value="OK">OK</button>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!--  !    Scripts    !  -->
  <!--  <script src="/app/bower_components/angular/angular.js"></script>-->
    <script src="/app/bower_components/angular-route/angular-route.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/service/userstory_service.js"></script>
    <script src="/app/controller/userstory_controller.js"></script>
    <script src="/app/components/version/version.js"></script>
    <script src="/app/components/version/version-directive.js"></script>
    <script src="/app/components/version/interpolate-filter.js"></script>
</body>
</html>